@model FoodPlaner.Models.Review

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title = Review details</title>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Site.css" />
    <script src="https://kit.fontawesome.com/32f442a5e8.js" crossorigin="anonymous"></script>
</head>
    <body>
        <br />
        <br />
        <div class="container-fluid" style="width: 100%; margin-top:40px">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="recipe panel panel-default radius-div" style="padding: 20px">
                    <div style="display:flex; flex-direction: row; width:fit-content; padding:7px">
                        <i class='fa fa-user' style='font-size:22px'></i>
                        <p style="padding-left:5px"> @Model.User.Surname</p>
                    </div>
                    <div style="display: flex; flex-direction: row; width: fit-content; padding: 7px">
                        <i class='far fa-calendar-alt' style='font-size:22px'></i>
                        <p style="padding-left:5px"> @Model.Date.ToShortDateString()</p>
                    </div>
                    <div style="display: flex; flex-direction: row; width: fit-content; padding: 7px">
                        <i class='fas fa-star' style='font-size:22px'></i>
                        <p style="padding-left:5px"> @Model.Score</p>
                    </div>
                    <div style="display: flex; flex-direction: row; width: fit-content; padding: 7px">
                        <p style="padding-left:5px">
                            <i class="fa-solid fa-pen-to-square" style='font-size:22px'></i>
                            @Model.Text
                        </p>
                    </div>
                    <div class="container" style="border:none">
                        <a class="btn btn-primary pull-left" href="/Recipe/Show/@Model.RecipeId" style="margin-bottom: 1rem">Back</a>
                        <form method="post" action="/Review/Delete/@Model.ReviewId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger" style="margin-left:10px" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </body>
</html>