@model FoodPlaner.Models.Recipe

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<h3 style="text-align: center">Edit recipe</h3>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems, {});
    });

    $(document).ready(function () {
        $('select').formSelect();
    });
</script>
@using (Html.BeginForm("Edit", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin-left: 36%; margin-bottom: 10%;" }))
{
    @*@Html.ValidationSummary(false, "", new { @class = ".textArea" })*@

    <br />
    <input placeholder="Recipe Name" id="first_name2" name="RecipeName" type="text" class="validate form-control" value="@Model.RecipeName" style="width: 100%;">
    @Html.ValidationMessageFor(m => m.RecipeName, null, new { @class = ".textArea" })
    <br />
    <br />

    @Html.Label("Ingredients", "Ingredients")
    <br />
    @Html.TextArea("Ingredients", null, new { @class = "form-control", style = "min-height: 50px;" })
    @Html.ValidationMessageFor(m => m.Ingredients, null, new { @class = ".textArea" })
    <br />
    <br />

    @Html.Label("Description", "Recipe description")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control", style = "min-height: 50px;" })
    @Html.ValidationMessageFor(m => m.Description, null, new { @class = ".textArea" })
    <br />
    <br />

    @Html.Label("Cuisine", "Cuisine")
    <br />
    @Html.DropDownListFor(m => m.Cuisine, Enum.GetValues(typeof(FoodPlaner.Enums.Cusines)).Cast<FoodPlaner.Enums.Cusines>().Select(i => new SelectListItem
{
    Text = i.ToString(),
    Value = ((int)i).ToString()
}).ToList(), "-- Select a cusine --", new { @class = "" })
    @Html.ValidationMessageFor(m => m.Cuisine, null, new { @class = ".textArea" })
    <br />
    <br />

    @Html.Label("Intolerances", "Intolerances")
    <br />
    @Html.ListBoxFor(m => m.IntolerancesList, new MultiSelectList(Enum.GetValues(typeof(FoodPlaner.Enums.Intolerances))), new { @class = "elect-dropdown dropdown-trigger" })

    <br />
    <br />

    @Html.Label("Time", "Time")
    <br />
    @Html.TextArea("Time", null, new { @class = "form-control", style = "height: 35px; min-height: 35px;" })
    @Html.ValidationMessageFor(m => m.Time, null, new { @class = ".textArea" })
    <br />
    <br />

    <div class="form-group">
        @Html.LabelFor(model => model.Photo)
        <input type="file" name="recipeImage" id="recipeImage" value="@Model.Photo" />
        @Html.ValidationMessageFor(model => model.Photo)
    </div>

    <br />
    <button class="btn btn-lg btn-success waves-effect waves-light" style="margin-left: 10%" type="submit">Save changes</button>
}
