@model FoodPlaner.Models.Recipe

@{
    ViewBag.Title = "Recipe details";
}

<div>
    <h2>@Model.RecipeName</h2>

    <p> Author: @ViewBag.userName </p>
    <p> Ingredients: @Model.Ingredients </p>
    <p> Time: @Model.Time </p>
    <p> Intolerances: @Model.Intolerances </p>
    <p> Cuisine: @Model.Cuisine </p>

    <div class="actionButtonsClass">
        @Html.ActionLink("Edit", "Edit", new { id = @Model.RecipeId })
    </div>
    <div style="display: inline-block; float:left; margin-left:23rem;" class="delete-button">
        <form method="post" action="/Recipe/Delete/@Model.RecipeId">
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            <button class="glyphicon glyphicon-trash" style="border: none; color: red; background: transparent" type="submit"></button>
        </form>
    </div>
    <br />
    <a class="btn btn-primary" href="/Recipe/Index" style="margin-bottom: 1rem;">Back to recipes</a>
</div>
