@model FoodPlaner.Models.Recipe

@{
    ViewBag.Title = "Recipe details";
}

<h2>View</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<p>
    User id: @Model.UserId
</p>
<p>
    Inredients: @Model.Ingredients
</p>
<p>
    Time: @Model.Time
</p>
<p>
    Intolerances: @Model.Intolerances
</p>
<p>
    Cuisine: @Model.Cuisine
</p>
<div>
    @Html.ActionLink("Edit", "Edit", new { id=@Model.RecipeId }) |
    @Html.ActionLink("Details", "Details", new { id= @Model.RecipeId }) |
    @Html.ActionLink("Delete", "Delete", new { id= @Model.RecipeId })
</div>
<br/>
<a class="btn btn-primary" href="/Recipe/Index" style="margin-bottom: 1rem;">Back to recipes</a>
