@model FoodPlaner.Models.Recipe

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title = Recipe details</title>
    <link rel="stylesheet" type="text/css" media="all" href="~/Content/Site.css" />
    <script src="https://kit.fontawesome.com/32f442a5e8.js" crossorigin="anonymous"></script>
</head>
    <body>
        <br />
        <br />
        <div class="container-fluid" style="width: 100%">
            <div class="col-md-5">
                <div class="recipe panel panel-default radius-div">
                    <h2>@Model.RecipeName</h2>

                    <p> Author: @ViewBag.userName </p>
                    <p> Ingredients:</p>
                    <ul style="list-style-type:circle" id="ingredientList">
                        @foreach (string ingredient in Model.Ingredients.Split(','))
                        {
                            <li> @ingredient</li>
                        }
                    </ul>
                    <p> Time: @Model.Time </p>
                    <p> Description: </p>
                    <p> @Model.Description</p>
                    <p> Intolerances: @Model.Intolerances </p>
                    <p> Cuisine: @Model.Cuisine </p>

                    <div class="panel">
                        <a class="btn btn-primary pull-left" href="/Recipe/Index" style="margin-bottom: 1rem;">Back</a>
                        <a class="btn btn-warning pull-left" href="/Recipe/Edit/@Model.RecipeId" style="margin-bottom: 1rem; margin-left:10px">Edit</a>
                        <form class="pull-left" method="post" action="/Recipe/Delete/@Model.RecipeId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="btn btn-danger" style="margin-left: 10px" type="submit">Delete</button>
                        </form>
                        <a class="btn btn-default" style="margin-left: 10px"  href="/Review/New" >Add a review</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            @if (@Model.Reviews.Count > 0)
            {
                <div class="col-md-4">
                    <p style="font-size:22px; font-weight:bold; text-align:center">Reviews</p>
                    <div>
                        @foreach (var review in Model.Reviews)
                        {
                            <div class="panel panel-default radius-div" style="width: 300px;">
                                <div style="display:flex; flex-direction: row; width:fit-content; padding:7px">
                                    <i class='fa fa-user' style='font-size:20px'></i>
                                    <p style="padding-left:5px"> @review.User.Surname</p>
                                </div>
                                <div style="display: flex; flex-direction: row; width: fit-content; padding: 7px">
                                    <i class='far fa-calendar-alt' style='font-size:20px'></i>
                                    <p style="padding-left:5px"> @review.Date.ToShortDateString()</p>
                                </div>
                                <div style="display: flex; flex-direction: row; width: fit-content; padding: 7px">
                                    <i class='fas fa-star' style='font-size:20px'></i>
                                    <p style="padding-left:5px"> @review.Score</p>
                                </div>
                                <a class="btn btn-default" style="margin-left: 7px; margin-bottom: 7px" href="/Review/Show/@review.ReviewId">See content</a>
                                <br />
                            </div>
                        }
                    </div>
                    <br />
                </div>
            }
        </div>
</body>
</html>