@model FoodPlaner.Models.ApplicationUser
@{
    ViewBag.Title = "User Profile";
}

<h2 style="margin-left: 40px">@ViewBag.Title</h2>
<link rel="stylesheet" type="text/css" media="all" href="/Content/site.css">
<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div class="col-lg-8" style="position:relative; width:100%; padding:40px">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Password</p>
                    </div>
                    <div class="col-sm-9">
                        @Html.ActionLink("Change your password", "ChangePassword")
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Full Name</p>
                    </div>
                    <div class="col-sm-9">
                        @if (string.IsNullOrEmpty(Model.Surname) && string.IsNullOrEmpty(Model.Name))
                        {
                            <p class="text-muted mb-0">No data</p>
                        }
                        else
                        {
                            <p class="text-muted mb-0">@Model.Name  @Model.Surname</p>
                        }
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Age</p>
                    </div>
                    <div class="col-sm-9">
                        @if (Model.Age == 0)
                        {
                            <p class="text-muted mb-0">No data</p>
                        }
                        else
                        {
                            <p class="text-muted mb-0">@Model.Age.ToString()</p>
                        }
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Weight</p>
                    </div>
                    <div class="col-sm-9">
                        @if (Model.Weight == 0)
                        {
                            <p class="text-muted mb-0">No data</p>
                        }
                        else
                        {
                            <p class="text-muted mb-0">@Model.Weight.ToString()</p>
                        }
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Body Index</p>
                    </div>
                    <div class="col-sm-9">
                        @if (Model.BodyIndex == 0)
                        {
                            <p class="text-muted mb-0">No data</p>
                        }
                        else
                        {
                            <p class="text-muted mb-0">@Model.BodyIndex.ToString()</p>
                        }
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" href="/Manage/Edit/@Model.Id" style="margin-left: 40px;">Edit profile</a>
</div>
